@mixin bg {
    font-size: calc(10px + 2vmin);
    background-color: #282c34;
    min-height: 100vh;
    height: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.blog-container{
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    .blog-add{
        margin: 0px 30px 0px 30px;
        width: 100%;
        button{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: #282c34;
            color: #79a6ff;
            border: none;
            font-size: 1.1rem;
            float: right;
        }
        button:hover{
            opacity: 0.5;
        }
    }
    @include bg;
    .card {
        // padding: 10px;
        padding: 10px 30px 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 380px;
        width: 380px;
        text-align: left;
        font-size: 14px;
        min-height: 150px;
        background-color: #0c3636;
        i{
            position: absolute;
            font-size: 1.5rem;
            margin-left: 380px;
        }
        i:hover{
            opacity: 0.5;
        }
        .title{
            height: 60px;
            font-size: 20px;
            font-weight: 600;
        }
        .content{
            padding-top: 10px;
        }
        // button {
        //     border: none;
        //     outline: 0;
        //     padding: 12px;
        //     color: white;
        //     background-color: rgb(129, 98, 98);
        //     text-align: center;
        //     cursor: pointer;
        //     width: 100%;
        //     font-size: 18px;
        //   }
        a{
            background-color: #282c34;
            border: none;
            outline: 0;
            color: #7b89a5;
            text-decoration: none;
        }
          a:hover {
            opacity: 0.5;
          }
      }
}
  
